{% extends "bootstrap/base.html" %}
{% block title %}用户管理{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}"> 尊敬的:{{ current_user.username }}</a>
                    <a class="navbar-brand" href="{{ url_for('user_bp.merchant_shop') }}">我要开店</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}">饿了么商家管理系统</a>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('user_bp.register_user') }}">注册</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user_bp.out_user') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_bp.user_login') }}">登录</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">店铺添加</h3>
            </div>
            <form class="form-horizontal" method="post" action="">
                {% for item in form %}
                    <div class="form-group">
                        {{ item.label(class_="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ item }}
                            <span class="text-danger">{{ item.errors[0] }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">店铺注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}






