{% extends "bootstrap/base.html" %}
{% block title %}用户管理{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}"> 尊敬的:{{ current_user.username }}</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}">商家用户主页</a>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('user_bp.register_user') }}">注册</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user_bp.out_user') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_bp.user_login') }}">登录</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">店铺添加</h3>
            </div>

            <form class="form-horizontal" method="post" action="">
                <div class="form-group">
                    <label for="item_name" class="col-sm-2 control-label">店铺名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="shop_name" name="shop_name" placeholder="输入店铺名">
                        <p class="text-danger">{{ form.shop_name.errors[0] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="item_name" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="输入密码">
                        <p class="text-danger">{{ form.password.errors[0] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">用户登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}






