{% extends "bootstrap/base.html" %}
{% block title %}用户管理{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}"> 尊敬的:{{ current_user.username }}</a>
                {% else %}
                    <a class="navbar-brand" href="{{ url_for('user_bp.user') }}">商家用户主页</a>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('user_bp.logan_user') }}">注册</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user_bp.out_user') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user_bp.enter_user') }}">登录</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h3>{{ current_user.username }}</h3>欢迎登陆!
        {% else %}
            <h2><a href="{{ url_for('user_bp.enter_user') }}">登录</a></h2>
        {% endif %}

    </div>

{% endblock %}






